<!-- クライアント側のHTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Example</title>
</head>
<body>
    <form action="progress.html" method="get">
        <div>1リクエストのバックエンド処理が10分かかるサンプル</div>
        <div>
            <label for="name">名前</label>
            <input type="text" id="name" name="name">
            <input type="submit" value="実行">
        </div>
        
        </form>
        <div>host: <%= serverHostname %></script></div>
</body>
</html>